{% extends "layout.html" %}

{% block title %}Data Extractor{% endblock %}

{% block head %}
	<meta charset="utf-8">
	<!--link rel=stylesheet type=text/css href="/static/style.css"-->
<style type="text/css">
div
	{
		padding: 5px;
	}
#var_choices td 
	{
		width: 20%;
		text-align: center;
	}

button.time-set {
    width: 90px;
}

span.inline-span {
    text-align: right;
    display: inline-block;
}

</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
function clearVarBox(){
	$("#variables").html("Available variables of selected categories in selected database will be populated here.");	
}
function welcomeMsg(){
	logMessage("Welcome to UoR Atmospheric Observatory Data Extractor.");
	//logMessage("To use the extractor, you must first obtain a valid token from the administrator.");
	divideLog();
}
function infoDatabase(){
	$("#dataset_info").html("Available datasets will be listed based on the submitted token.");
}
var URL_BASE = "/ext";
if (window.location.hostname == "127.0.0.1") {
    URL_BASE = ""
}
// Checks a string to see if it in a valid date format
// of (D)D/(M)M/(YY)YY and returns true/false
function isValidDate(dateArray) {
   
    //var dateArray = s.split(/[\.|\/|-]/);
      
	// correct month value
	dateArray = dateArray.slice(1);
	dateArray[1] = dateArray[1] - 1;

	// correct year value
	if (dateArray[2].length<4) {
		// correct year value
		dateArray[2] = (parseInt(dateArray[2]) < 50) ? 2000 + parseInt(dateArray[2]) : 1900 + parseInt(dateArray[2]);
	}

	var testDate = new Date(dateArray[2], dateArray[1], dateArray[0]);
	if (testDate.getDate()!=dateArray[0] || testDate.getMonth()!=dateArray[1] || testDate.getFullYear()!=dateArray[2]) {
		return false;
	} else {
		return true;
	}
}

// Compares two dates in array form and see if Date2 is larger than Date1.
// Date arrays must be in (H)H (D)D (M)M YYYY
function compareDates(dateArrayOne,dateArrayTwo) {
	
	var dateOne = new Date(dateArrayOne[3],dateArrayOne[2]-1,dateArrayOne[1],dateArrayOne[0]),
		dateTwo = new Date(dateArrayTwo[3],dateArrayTwo[2]-1,dateArrayTwo[1],dateArrayTwo[0]);
		
	if (dateOne >= dateTwo) return false
	else return true
}

// Compares a given day in array form (dateArray) with the current time.
// Date array must be in (H)H (D)D (M)M YYYY
function compareDateWithNow(dateArray) {
	var d = new Date(dateArray[3],dateArray[2]-1,dateArray[1],dateArray[0]);
	var dnow = new Date();
		
	if (d > dnow) return false
	else return true
}
// This function auto-lists all years from 1965 and put them into the 
// selection fields.
function autoListYears() {	
	var yearNow = new Date().getUTCFullYear();
	var year = "";
	for (var i = yearNow; i >= 1965; i--)
		{
			year += '<option value="'+pad(i,4)+'">'+pad(i,4)+'</option>'
		}

	$("#startY").html(year);
	$("#endY").html(year);
}
// This function auto-lists all the days in a month (01-31) and put them into the 
// selection fields.
function autoListDays() {	
	var day = "";
	for (var i = 1; i < 32; i++)
		{
			day += '<option value="'+pad(i,2)+'">'+pad(i,2)+'</option>'
		}

	$("#startD").html(day);
	$("#endD").html(day);
}
	
// This function auto-lists all the hours in a day (00-23) and put them into the 
// selection fields.
function autoListHours() {
	var hours = "";
	for (var i = 0; i < 24; i++)
		{
			hours += '<option value="'+pad(i,2)+'">'+pad(i,2)+'</option>'
		}
		
	$("#startH").html(hours);
	$("#endH").html(hours);
}

// Add leading zeros to a number (num) to match a certain length (size).
function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}

// Retrieve the current time based on users' clock and return as a string of 
// HH:MM:SS DD/MM/YYYY.
function getTimeForLog() {
	var d = new Date();
	
	return "["+pad(d.getUTCHours(),2) + ":" + pad(d.getUTCMinutes(),2) + ":" + 
				pad(d.getUTCSeconds(),2) + " " + pad(d.getUTCDate(),2) + "/" + 
				pad(d.getUTCMonth()+1,2) + "/" + d.getUTCFullYear().toString()+"]";
}

// Log a message in the designated div.
function logMessage(str) {
	$("#right_panel").append(getTimeForLog()+" "+str+"<br>");
	//$("#right_panel").scrollTop($("#right_panel")[0].scrollHeight);
}

// Log divider
function divideLog() {
	// Add a horizontal break.
	$("#right_panel").append("<hr>");

	// Scroll down to the last log.
	$("#right_panel").scrollTop($("#right_panel")[0].scrollHeight);

	// Re-enable the check button.
	$("#check_step_one").prop('disabled',false);
}

// Wrapper function to perform sanity check for Step 1.

function getDB(token){
	$.getJSON( URL_BASE + "/user_token/"+token+".json", function(data) {
		logMessage("Token is valid.");
		
		var datasets = data['token']['datasets'];
		var dropDown = '<option selected value="---">---</option>';
		
		for (var i=0; i<datasets.length;i++)
			{
				dropDown += '<option value="'+datasets[i]['name']+'">'+datasets[i]['long_name']+'</option>';
			}
		
		// Begin constructing the variable table dynamically.
		$("#datasets").html(dropDown);
		$("#database_info").html("");
		divideLog();
	}).fail(function(){
		logMessage("Token not found. Please contact the administrator.");
		divideLog();
	});
}
function changeDateFields(inputDate,target){
	if (target != "start" && target != "end") return;
	
	$('#'+target+'Y').val(inputDate[0]);
	$('#'+target+'M').val(inputDate[1]);
	$('#'+target+'D').val(inputDate[2]);
	$('#'+target+'H').val(inputDate[3]);
}
var earliest_rec="";
var latest_rec="";
function getDatasetTimeRange(dataset){
		logMessage("Retrieving dataset information from server.");
		$.getJSON( URL_BASE + "/dataset/"+dataset+".json", function(data) {
			logMessage("Dataset information received.");
			earliest_rec = 	data['dataset']['start_date'];
			latest_rec = 	data['dataset']['end_date'];

			//$("#earliest_rec").val(data['dataset']['start_date']);
			//$("#latest_rec").val(data['dataset']['end_date']);
			
			var startDate = data['dataset']['start_date'].split("-");
			var endDate = data['dataset']['end_date'].split("-");
			// var startHour = startDate[3].split(":")[0];
                        var startHour = "00";
			
			var startDateArray = [startDate[0],Number(startDate[1]).toString(),startDate[2],startHour];
			var endDateArray = [endDate[0],Number(endDate[1]).toString(),endDate[2],"23"];
		        if (!compareDateWithNow(endDateArray.reverse())){
				// If end date in future, cap final date as today
			 	var ytd = new Date();	
				ytd.setDate(ytd.getDate()-1);
				endDateArray = [ytd.getUTCFullYear().toString(), (ytd.getUTCMonth()+1).toString(), pad(ytd.getUTCDate(),2), "23"].reverse()
			}
			changeDateFields(startDateArray,"start");
			changeDateFields(endDateArray.reverse(),"end");
			divideLog();
		}).fail(function(){
			logMessage("Dataset not found!");
			divideLog();
		});
	}

function checkStepOne() {
	$("#check_step_one").prop('disabled',true);
	logMessage("Initialising input sanity check...");
	
	// Error status
	var err = 0;
	
	// Check if user has selected the type of data to extract. Return an error 
	// message if false.
	var dataType = $("#datasets").val();
	
	if (dataType == "")
		{
			logMessage("Please choose the type of data to extract.");
			err = 1; 
		}
	
	// Retrieve users input dates from the form.
	var startDateArray = new Array($("#startH").val(),$("#startD").val(),$("#startM").val(),$("#startY").val()),
		endDateArray = new Array($("#endH").val(),$("#endD").val(),$("#endM").val(),$("#endY").val());
	
	// Check for errors in the input dates.
	if (!isValidDate(startDateArray))
		{
			logMessage("Invalid start date. Please check again.");
			err = 1;
		}
	if (!isValidDate(endDateArray))
		{
			logMessage("Invalid end date. Please check again.");
			err = 1;
		}
	if (!compareDates(startDateArray,endDateArray))
		{
			logMessage("Start date is later than or equal to end date. Please check again.");
			err = 1;
		}
	if (!compareDateWithNow(startDateArray))
		{
			logMessage("Start date is in the future! Please check again.");
			err = 1;
		}
	if (!compareDateWithNow(endDateArray))
		{
			logMessage("End date is in the future! Please check again.");
			err = 1;
		}
	
	// Retrieve user-selected variable categories.
	var varCat = $('input[name="var_type"]:checked');
	
	//Return error messages if none of the variable categories is selected.	
	if (varCat.length == 0)
		{
			logMessage("No variable category is checked. Please choose at least 1 category.");
			err = 1; 
		}
	
	// Routine if the input passes the sanity check.
	if (!err)
		{
			logMessage("Input sanity check passed.");
			
			// Need another json to look at the user database to determine what data level
			// the user can retrieve.
			
			logMessage("User can access level 2 data.");
			
			logMessage("Requesting lists of available variables from server.");
			$.getJSON(URL_BASE + "/dataset/"+dataType+"/vars.json", function( data ) {
				logMessage("Information received.");
				console.debug(data)
				console.debug(data["typerain"])

				// Begin constructing the variable table dynamically.
				var tableHTML = '<span style="width: 100%; text-align: center;">Available variables</span><br><table class="table">'+"\n<thead><tr>";

				// Start with the headers.
				for (var i = 0; i < varCat.length; i++)
					{
						// Changed typeX to long name of X.
						// A more elegant method might be needed later!
						var catName = varCat[i].value;
				
						if (catName == "typerain") var longName = "Precipitation";
						else if (catName == "typetemp") var longName = "Temperature";
						else if (catName == "typewind") var longName = "Wind";
						else if (catName == "typesrad") var longName = "Radiation";
                        else if (catName == "typepres") var longName = "Pressure";
						else if (catName == "typenull") var longName = "Other";
						else var longName = varCat[i].value;
						
						tableHTML += "<th>"+longName+"</th>";
					}
				
				tableHTML += '</tr></thead>\n<tbody><tr">';
				
				for (var i = 0; i < varCat.length; i++)
					{
						// fake ajax return for now. This will change to some sort of server
						// return in the future.

						// The start of the table cell.
						tableHTML += '<td class="vars"><div class="scrollable">';
						
						// Generate a random number for the fake number of variables.
						var vars = data[varCat[i].value];
						
						if (vars)
							{
								var numOfVar = vars.length;
						
						// In the future a list of available variables for each category will
						// be returned from the serve. Currently, fake variable names are 
						// created in the loop. The following loop will simply push each of
						// the variables into the relevant column.
						//if (numOfVar > 0)
							//{
								for (var j = 0; j < numOfVar; j++)
									{
										// Fake variable name.
										var varName = vars[j]["long_name"];
										
										// Add the variable checkbox to the table.
										tableHTML += '<label><input type="checkbox" name="var" value="'+vars[j]["var"]+'" vartype="'+varCat[i].value+'">'+varName+'</label>';
										
										// Add new line html tag if it is not the last var.
										if (j < numOfVar-1) tableHTML += "<br>";
									}
							}
						else
							{
								// If this is no variable, say so.
								tableHTML += "No variables.";
							}
						
						// The end of the table cell.
						tableHTML += "</div></td>";
					}
				
				tableHTML += "</tr></tbody>\n<tfoot><tr>";
				
				// Generate the check / uncheck buttons dynamically
				for (var i = 0; i < varCat.length; i++)
					{	
						tableHTML += '<td class="foot"><input type="button" class="check_all_var" value="All" target="'+varCat[i].value+'"></input>&nbsp;<input type="button" class="uncheck_all_var" value="None" target="'+varCat[i].value+'"></input></td>';
					}
				
				// Complete table
				tableHTML += "</tr></tfoot></table>";
				
				// Add table to the correct div.
				$("#variables").html(tableHTML);
				
				$("#variables table .scrollable").css("height","40vh");
				$("#variables table .scrollable").css("overflowY","scroll");
				
				// Check / Uncheck all  functionalities upon clicks on buttons for temp variables. 
				$(".check_all_var").click(function(){$('#variables table :input[vartype="'+$(this).attr("target")+'"]').prop("checked",true);});
				$(".uncheck_all_var").click(function(){$('#variables table :input[vartype="'+$(this).attr("target")+'"]').prop("checked",false);});
				
				divideLog();
			});
			
		}
	else
		{
			divideLog();
		}
		
}

// Function to generate the HTTP API URL, e.g.:
// http://127.0.0.1:5000/dataset/1sec_Level1/get_data?&start_date=2016-12-01-00:00:00&end_date=2016-12-01-04:00:00&var=T0.56&missing=blank&data_format=html
function generateURL() {

	var fields = $('input[name="var"]:checked');
	
	if (fields.length > 0)
		{
			var url = window.location.protocol + "//" + window.location.host + URL_BASE + "/dataset/";
	
			// Append dataset to API
			url += $("#datasets").val() + "/get_data?"

			// Append token to API
			url += "token=" + $("#token").val();
	
			// Append start date to API
			url += "&start_date="+$("#startY").val()+"-"+pad($("#startM").val(),2)+
					"-"+$("#startD").val()+"-"+$("#startH").val()+":00:00";
			
			// Append end date to API
			url += "&end_date="+$("#endY").val()+"-"+pad($("#endM").val(),2)+
					"-"+$("#endD").val()+"-"+$("#endH").val()+":00:00";

			// Append all fields to API
			var fields = $('input[name="var"]:checked');
	
			for (var i = 0; i < fields.length; i++)
				{
					url += "&var="+fields[i].value;
				}
	
			// Append missing data option to API
			url += "&missing="+$("#missing").val();
	
			// Append data output format to API
			url += "&data_format="+$("#output_format").val();
	
			// Display the URL in the text field
		    $("#direct_url").html('<a href="' + url + '">get data url</a>');
			return url;

		}
	else
		{
			logMessage("No variable is selected. Nothing to retrieve.");
			divideLog();
		}

}
function retrieveData(url) {
        window.location.href = url;
}
// Initialise after document is fully loaded.
$(function(){
	// Auto-put the days and hours into the selection field in start/end times. 
	clearVarBox();
	infoDatabase();
	welcomeMsg();
	autoListYears();
	autoListDays();
	autoListHours();
	// Define button functions.
	// Check / Uncheck all functionalities upon clicks on buttons for variable categories.
	$("#check_all_vartypes").click(function(){$('input[name="var_type"]').prop("checked",true);});
	$("#uncheck_all_vartypes").click(function(){$('input[name="var_type"]').prop("checked",false);});
	$("#submitPublic").click(function(){
		 $("#token").val("public");
	         $("#submitToken").trigger( "click" );});

	$("#submitToken").click(function(){
		var token = $("#token").val();
		
		if (token.length > 0) getDB(token);
		else logMessage("Please enter a token.");
	});
	$("#check_step_one").click(checkStepOne);
	$("#retrieve_data").click(function(){
		var url = generateURL();
		retrieveData(url);
	});
	$("#generate_url").click(function(){
		generateURL();
	});
	$("#setStartToYtd").click(function(){
		var ytd = new Date();
		ytd.setDate(ytd.getDate()-1);
		
		var dateArray = [ytd.getUTCFullYear().toString(),(ytd.getUTCMonth()+1).toString(),pad(ytd.getUTCDate(),2),pad(ytd.getUTCHours(),2)];
		
		changeDateFields(dateArray,"start");
	});	
	$("#setEndToNow").click(function(){
		var ytd = new Date();
		
		var dateArray = [ytd.getUTCFullYear().toString(),(ytd.getUTCMonth()+1).toString(),pad(ytd.getUTCDate(),2),pad(ytd.getUTCHours(),2)];
		
		changeDateFields(dateArray,"end");
	});
	$("#setStartToEarliest").click(function(){
		if (earliest_rec == "")
			{
				logMessage("Please select a dataset.");
				divideLog();
				return;
			}
		
		var startDate = earliest_rec.split("-");
		var startHour = startDate[3].split(":")[0];
		
		var dateArray = [startDate[0],Number(startDate[1]).toString(),startDate[2],startHour];
		
		changeDateFields(dateArray,"start");
	
	});
	$("#setEndToLatest").click(function(){
		if (latest_rec == "")
			{
				logMessage("Please select a dataset.");
				divideLog();
				return;
			}
		//var startDate = $("#latest_rec").val().split("-");
		var startDate = latest_rec.split("-")
		var startHour = startDate[3].split(":")[0];

	        var dateArray = [startDate[0],Number(startDate[1]).toString(),startDate[2],startHour];
		// Check to see whether latestDate is in the future; set to now if so.
		var latestDate = new Date(dateArray[0], dateArray[1] - 1, dateArray[2] - 1, dateArray[3]);
        var ytd = new Date();
	    if (latestDate > ytd)
            {
                var dateArray = [ytd.getUTCFullYear().toString(),(ytd.getUTCMonth()+1).toString(),pad(ytd.getUTCDate(),2),pad(ytd.getUTCHours(),2)];
            }
 	    changeDateFields(dateArray,"end");
	
	});
	$("#reset_1").click(function(){
		$("#token").val("");
		$("#datasets").html("");
		//$("#earliest_rec").val("");
                earliest_rec = "";
                latest_rec = "";
		// $("#latest_rec").val("");
		clearVarBox();
                $('input[name="var_type"]').prop("checked",false);
		infoDatabase();
	});
	
	$("#datasets").on("change",function(){
		getDatasetTimeRange($(this).val());
	});
});
</script>

{% endblock %}

{% block body %}

<div class="row">
    <div id="left_panel" class="well col-sm-8">
        <div id="datatype" class="well well-sm">
            Access token
            <input type="text" id="token">
            <button id="submitToken">Submit token</button> or 
            <button id="submitPublic">View public datasets</button><br>
            <span style="font-size: 0.75em;">A valid token is required to use this utility. Please request one from the administrator if required.</span>
        </div>
        <div class="well well-sm">
            Select dataset:
            <select id="datasets"></select><br>
            <span id="dataset_info" style="font-size: 0.75em;"></span>
        </div>
        <div class="well well-sm">
            Request time range (UTC):
            <br>
            <div style="padding: 0px; width: 100%;">
                <div id="start_date" style="padding: 0px;">
                    <span class="inline-span">
                        <span class="inline-span" style="width:50px">From:</span>
                        <select id="startY" class="dates"></select>
                        <select id="startM" class="dates">
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <select id="startD" class="dates"></select>
                        <select id="startH" class="dates"></select>
                    </span>
                    <span class="inline-span">
                        <span class="inline-span" style="width:50px">Set to:</span>
                        <button id="setStartToYtd" class="time-set">Yesterday</button>
                        <button id="setStartToEarliest" class="time-set">Earliest</button>
                    </span>
                    <!--<span class="inline-span">
                        <span class="inline-span" style="width:100px">Earliest record:</span>
                        <input type="text" id="earliest_rec" disabled>
                    </span>--!>
                </div>
                <div id="end_date" style="padding: 0px;">
                    <span class="inline-span">
                        <span style="text-align:right; display:inline-block; width:50px">To:</span>
                        <select id="endY" class="dates"></select>
                        <select id="endM" class="dates">
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                        <select id="endD" class="dates"></select>
                        <select id="endH" class="dates"></select>
                    </span>
                    <span class="inline-span">
                        <span class="inline-span" style="width:50px">Set to:</span>
                        <button id="setEndToNow" class="time-set">Now</button>
                        <button id="setEndToLatest" class="time-set">Latest</button>
                    </span>
                   <!-- <span class="inline-span">
                        <span class="inline-span" style="width:100px">Latest record:</span>
                        <input type="text" id="latest_rec" disabled>
                    </span>--!>
                </div>
            </div>
            <span style="font-size: 0.75em;">Available dates are determined by the chosen dataset.</span>
        </div>

        <div id="vtype" class="well well-sm">
            Choose variable categories:
            <table style="width: 100%;" id="var_choices">
            	<tr>
            		<th><label><input type="checkbox" name="var_type" value="typetemp"> Temperature</label></th>
            		<th><label><input type="checkbox" name="var_type" value="typerain"> Rainfall</label></th>
            		<th><label><input type="checkbox" name="var_type" value="typesrad"> Sun/Radiation</label></th>
            		<th><label><input type="checkbox" name="var_type" value="typewind"> Wind</label></th>
                    <th><label><input type="checkbox" name="var_type" value="typepres"> Pressure</label></th>
                    <th><label><input type="checkbox" name="var_type" value="typenull"> Other</label></th>
                </tr>
            </table>
            <input type="button" id="check_all_vartypes" value="Check all"></input>
            <!--<input type="button" id="uncheck_all_vartypes" value="Uncheck all"></input>--!>
        </div>
        <div>
            <input type="button" id="check_step_one" value="Check data availability"></input><input type="button" id="reset_1" value="Reset all"></input>
        </div>
    </div>

    <div class="col-sm-4">
        <div id="right_panel" class="well" style="font-size:0.8em;"></div>
    </div>
</div>
<div class="row">
    <div id="database" class="well">
        <div id="variables" style="text-align:left;">
        </div>
    </div>
</div>

<div class="row">
    <div id="footer" class="well">
        <div id="missing_value_options">
            Select a value for the missing data:
            <select id="missing">
                <option value="blank">Blank/Empty</option>
                <option value="9999.9">9999.9</option>
                <option value="x">x</option>
            </select>
            <br>
            Select the output format:
            <select id="output_format">
                <option value="html" selected>Web Page (HTML)</option>
                <option value="csv">Comma Separated Values (CSV)</option>
                <option value="json">JavaScript Object Notation (JSON)</option>
                <!--option value="netcdf">NetCDF</option-->
            </select>
        </div>

        <div id="final">
            <input type="button" id="generate_url" value="Generate URL"></input>
            <input type="button" id="retrieve_data" value="Retrieve data"></input>
            <span>HTTP API URL: <span name="url" id="direct_url"></span></span>
        </div>
    </div>
</div>
{% endblock  %}
