{% extends "layout.html" %}

{% block title %}Get Data{% endblock %}

{% block head %}

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<meta charset="utf-8">
	<!--link rel=stylesheet type=text/css href="/static/style.css"-->
<style type="text/css">
div
	{
		padding: 5px;
	}
#var_choices td 
	{
		width: 20%;
		text-align: center;
	}

button.time-set {
    width: 90px;
}

#bad_token, #good_token, #dataset_error, #download_error{
    display:none;
    text-align:center;
}
span.inline-span {
    text-align: right;
    display: inline-block;
}

.breaktext {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

</style>

  <script type="text/javascript">
function clearVarBox(){
	$("#variables").html("Available variables of selected categories in selected database will be populated here.");
}
function welcomeMsg(){
}

var URL_BASE = "/ext";
if (window.location.hostname == "127.0.0.1") {
    URL_BASE = ""
}
// Checks a string to see if it in a valid date format
// of (D)D/(M)M/(YY)YY and returns true/false
function isValidDate(dateArray) {

    //var dateArray = s.split(/[\.|\/|-]/);

	// correct month value
	dateArray = dateArray.slice(1);
	dateArray[1] = dateArray[1] - 1;

	// correct year value
	if (dateArray[2].length<4) {
		// correct year value
		dateArray[2] = (parseInt(dateArray[2]) < 50) ? 2000 + parseInt(dateArray[2]) : 1900 + parseInt(dateArray[2]);
	}

	var testDate = new Date(dateArray[2], dateArray[1], dateArray[0]);
	if (testDate.getDate()!=dateArray[0] || testDate.getMonth()!=dateArray[1] || testDate.getFullYear()!=dateArray[2]) {
		return false;
	} else {
		return true;
	}
}

function formatDate(dateObj){
    // Return string YYYY-mm-dd HH:MM:SS from a date object
    return dateObj.getUTCFullYear() + '-' + pad(dateObj.getUTCMonth()+1,2) + '-' + pad(dateObj.getUTCDate(),2) + '-' + pad(dateObj.getUTCHours(),2) + ':' + pad(dateObj.getUTCMinutes(),2) + ':' + pad(dateObj.getUTCSeconds(),2)
}

// Compares two dates in array form and see if Date2 is larger than Date1.
// Date arrays must be in (H)H (D)D (M)M YYYY
function compareDates(dateArrayOne,dateArrayTwo) {

	var dateOne = new Date(dateArrayOne[3],dateArrayOne[2]-1,dateArrayOne[1],dateArrayOne[0]);
	var	dateTwo = new Date(dateArrayTwo[3],dateArrayTwo[2]-1,dateArrayTwo[1],dateArrayTwo[0]);

	if (dateOne >= dateTwo) return false
	else return true
}

// Compares a given day in array form (dateArray) with the current time.
// Date array must be in (H)H (D)D (M)M YYYY
function compareDateWithNow(dateArray) {
	var d = new Date(dateArray[3],dateArray[2]-1,dateArray[1],dateArray[0]);
	var dnow = new Date();

	if (d > dnow) return false
	else return true
}

// This function auto-lists all the hours in a day (00-23) and put them into the
// selection fields.
function autoListHours() {
	var hours = "";
	for (var i = 0; i < 24; i++)
		{
			hours += '<option value="'+pad(i,2)+'">'+pad(i,2)+'</option>'
		}

	$("#startH").html(hours);
	$("#endH").html(hours);
}

// Add leading zeros to a number (num) to match a certain length (size).
function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}


// Wrapper function to perform sanity check for Step 1.

function getDB(token){
    $("#datasets").empty();
    $('#bad_token').hide();
    $("#time_periods").hide();
    $("#database").hide();
    $("#download_options").hide();
    $("#user_datasets").hide();
	$.getJSON( URL_BASE + "/user_token/"+token+".json", function(data) {
		var datasets = data['token']['datasets'];
        var dropDown = '';
		for (var i=0; i<datasets.length;i++)
			{
				dropDown += '<option value="'+datasets[i]['name']+'">'+datasets[i]['long_name']+'</option>';
			}
        if (i == 0 ) {
            // The user token exists but has no datasets
            $('#bad_token').html('The user token <strong>'+token+'</strong> is not currently allowed to view any data.').show();
            return;
        }
		// Begin constructing the variable table dynamically based on first entry inlist
		$("#datasets").html(dropDown);
         updateSelectedDataset();
		$("#database_info").html("");
		$("#user_datasets").show();
	}).fail(function(){
        $("#bad_token").html('<strong>Token not recognised</strong>: Please note tokens are case-sensitive.').show()
	});
}

// Set up global date variables
var startDate=''
var endDate='';
var td = new Date();
var ytd = new Date();
ytd.setDate(ytd.getDate()-1);

var varCat = ['typetemp', 'typewind',  'typesrad', 'typenull', 'typepres', 'typerain']
function getDatasetTimeRange(dataset){
        $('#dataset_error').hide();
		$.getJSON( URL_BASE + "/dataset/"+dataset+".json", function(data) {
			earliest_rec = 	data['dataset']['start_date'];
			latest_rec = 	data['dataset']['end_date'];

			sda = data['dataset']['start_date'].split("-");
            startDate = new Date(Date.UTC(Number(sda[0]), Number(sda[1]), Number(sda[2]), 00, 00, 00));

			eda = data['dataset']['end_date'].split("-");
            endDate = new Date(Date.UTC(Number(eda[0]), Number(eda[1]), Number(eda[2]), 23, 59, 59));

	        // If end date in future, cap final date as today
		    if (endDate > td){
				endDate = td
			}

            $("#start_date").val(formatDate(startDate))
            $("#end_date").val(formatDate(endDate))
            $("#start_date").datepicker('setStartDate', formatDate(startDate).substr(0,10))
            $("#start_date").datepicker('setEndDate', formatDate(endDate).substr(0,10))
            $("#end_date").datepicker('setStartDate', formatDate(startDate).substr(0,10))
            $("#end_date").datepicker('setEndDate', formatDate(endDate).substr(0,10))

		}).fail(function(){
			$('#dataset_error').html("<strong>Problem retrieving dataset information</strong>: Please check your internet connection. If the problem persists, please contact us.").show();
		});
	}

function checkStepOne() {

	// Error status
    $('#download_error').html("").hide();

	// Check if user has selected the type of data to extract. Return an error
	// message if false.
	var dataType = $("#datasets").val();

	if (dataType == "")
		{
            $('#download_error').html("No dataset selected.").show();
            return false;
		}

	// Retrieve users input dates from the form and validate them

	var startDateArray = [  $('#start_date').val().substr(11,2), // hours
	                        $('#start_date').val().substr(8,2), // DD
	                        $('#start_date').val().substr(5,2), // MM
	                        $('#start_date').val().substr(0,4)] // YYYY
	var endDateArray = [  $('#end_date').val().substr(11,2), // hours
	                        $('#end_date').val().substr(8,2), // DD
	                        $('#end_date').val().substr(5,2), // MM
	                        $('#end_date').val().substr(0,4)] // YYYY


	// Check for errors in the input dates.
	if (!isValidDate(startDateArray))
		{
			$('#download_error').html("Invalid start date. Please check.").show();
            return false;

		}
	if (!isValidDate(endDateArray))
		{
			$('#download_error').html("Invalid end date. Please check.").show();
            return false;
		}
	if (!compareDates(startDateArray,endDateArray))
		{
			$('#download_error').html("Start date must be earlier than end date.").show();
            return false;
		}
	if (!compareDateWithNow(startDateArray))
		{
			$('#download_error').html("Start date cannot be later than now.").show();
            return false;
		}
	if (!compareDateWithNow(endDateArray))
		{
			$('#download_error').html("End date cannot be later than now.").show();
            return false;
		}

    return true;
}

// Function to generate the HTTP API URL, e.g.:
// http://127.0.0.1:5000/dataset/1sec_Level1/get_data?&start_date=2016-12-01-00:00:00&end_date=2016-12-01-04:00:00&var=T0.56&missing=blank&data_format=html
function generateURL() {
    $('#download_error').hide().html('');

    // Validate dates
    var valid_dates = checkStepOne();
    if(!valid_dates){
        return;
    }
	var fields = $('input[name="var"]:checked');

	if (fields.length > 0)
		{
			var url = window.location.protocol + "//" + window.location.host + URL_BASE + "/dataset/";

			// Append dataset to API
			url += $("#datasets").val() + "/get_data?"

			// Append token to API
			url += "token=" + $("#token").val();

			// Append start date to API
			url += "&start_date="+$("#start_date").val();

			// Append end date to API
			url += "&end_date="+$("#end_date").val();

			// Append all fields to API
			var fields = $('input[name="var"]:checked');

			for (var i = 0; i < fields.length; i++)
				{
					url += "&var="+fields[i].value;
				}

			// Append missing data option to API
			url += "&missing="+$("#missing").val();

			// Append data output format to API
			url += "&data_format="+$("#output_format").val();

			// Display the URL in the text field
		    $("#direct_url").html('<p>Permalink: <a href="' + url + '">'+url+'</a></p>');
			return url;
		}
	else
		{
		    $('#download_error').html('<strong>No variable(s) selected:</strong> Nothing to download.').show();
		}

}
function retrieveData(url) {
        window.location.href = url;
}

function updateSelectedDataset(){
    // When dataset selected, get its date range and available variables
        $("#time_periods").hide();
        $("#database").hide();
        $("#download_options").hide();
        var selected =$("#datasets").val()
        var selected_label =$("#datasets").text()
		getDatasetTimeRange(selected);

        // Another JSON call to get the list of variables in this dataset
        $.getJSON(URL_BASE + "/dataset/"+selected+"/vars.json", function( data ) {

            // Begin constructing the variable table dynamically.
            var tableHTML = '<span style="width: 100%; text-align: center;">Variables available in dataset <strong>'+ selected_label +'<strong>:</span><br><table class="table">'+"\n<thead><tr>";

            // Start with the headers.
            for (var i = 0; i < varCat.length; i++){
                var catName = varCat[i];

                if (catName == "typerain") var longName = "Precipitation";
                else if (catName == "typetemp") var longName = "Temperature";
                else if (catName == "typewind") var longName = "Wind";
                else if (catName == "typesrad") var longName = "Radiation";
                else if (catName == "typepres") var longName = "Pressure";
                else if (catName == "typenull") var longName = "Other";
                else var longName = varCat[i];

                tableHTML += "<th>"+longName+"</th>";
            }

            tableHTML += '</tr></thead>\n<tbody><tr">';

            for (var i = 0; i < varCat.length; i++) {
                // The start of the table cell.
                tableHTML += '<td class="vars"><div class="scrollable">';

                // Generate a random number for the fake number of variables.
                var vars = data[varCat[i]];

                if (vars){
                    var numOfVar = vars.length;

                    // In the future a list of available variables for each category will
                    // be returned from the serve. Currently, fake variable names are
                    // created in the loop. The following loop will simply push each of
                    // the variables into the relevant column.
                    for (var j = 0; j < numOfVar; j++){
                        // Fake variable name.
                        var varName = vars[j]["long_name"];

                        // Add the variable checkbox to the table.
                        tableHTML += '<label><input type="checkbox" name="var" value="'+vars[j]["var"]+'" vartype="'+varCat[i]+'">'+varName+'</label>';

                        // Add new line html tag if it is not the last var.
                        if (j < numOfVar-1) tableHTML += "<br>";
                    }
                }else{
                    // If this is no variable, say so.
                    tableHTML += "N/A";
                }

                // The end of the table cell.
                tableHTML += "</div></td>";
            }

            tableHTML += "</tr></tbody>\n<tfoot><tr>";

            // Generate the check / uncheck buttons dynamically
            for (var i = 0; i < varCat.length; i++) {
                tableHTML += '<td class="foot">' +
                            '<div class="btn-group" role="group">' +
                              '<input type="button" class="check_all_var btn btn-secondary" value="All" target="'+varCat[i]+'">'+
                              '&nbsp; <input type="button" class="uncheck_all_var btn btn-secondary" value="None" target="'+varCat[i]+'"></div></td>';
            }

            // Complete table
            tableHTML += "</tr></tfoot></table>";

            // Add table to the correct div.
            $("#variables").html(tableHTML);

            $("#variables table .scrollable").css("height","40vh");
            $("#variables table .scrollable").css("overflowY","scroll");
            // Check / Uncheck all  functionalities upon clicks on buttons for temp variables.
            $(".check_all_var").click(function(){$('#variables table :input[vartype="'+$(this).attr("target")+'"]').prop("checked",true);});
            $(".uncheck_all_var").click(function(){$('#variables table :input[vartype="'+$(this).attr("target")+'"]').prop("checked",false);});

        });
        $("#time_periods").show();
        $("#database").show();
        $("#download_options").show();

}

// Initialise after document is fully loaded.
$(function(){
	// Auto-put the days and hours into the selection field in start/end times.
	clearVarBox();
	autoListHours();
	// Define button functions.
	// Check / Uncheck all functionalities upon clicks on buttons for variable categories.
	$("#check_all_vartypes").click(function(){$('input[vartype="var_type"]').prop("checked",true);});
	$("#uncheck_all_vartypes").click(function(){$('input[vartype="var_type"]').prop("checked",false);});
	$("#submitPublic").click(function(){
		 $("#token").val("public");
	         $("#submitToken").trigger( "click" );});

	$("#submitToken").click(function(){
	    $("#bad_token").hide();
	    $("#good_token").hide();
		var token = $("#token").val();

		if (token.length > 0) {
		  getDB(token);
		} else {
          $("#bad_token").html('<strong>User token required:</strong> A user token is required to use this utility. Please request one from the administrator if required.').show()
        }
	});
	$("#retrieve_data").click(function(){
		var url = generateURL();
		if ( url ) {
		    retrieveData(url);
		 }
	});
	$("#generate_url").click(function(){
		generateURL();
	});
	$("#setStartToYtd").click(function(){
	    // Set start date to yesterday unless dataset ended before yesterday, in which case set to the start of the final day
        if (endDate < ytd) {
          var startDateStr = formatDate(endDate);
          startDateStr = startDateStr.substr(0,10) + '-00:00:00'; // Change end of day to start of day
        } else {
          var startDateStr = formatDate(ytd);
        }

		$('#start_date').val(startDateStr)
	});

    $("#setEndToLatest").click(function(){
        // Set end date to either the end of day (if measurement still on-going) or end of measurement itself (if ended)
        if (endDate < td) {
          var endDateStr = formatDate(endDate);
        } else {
          var endDateStr = formatDate(td);
        }
		$('#end_date').val(endDateStr)
	});

	$("#setStartToEarliest").click(function(){
		$('#start_date').val(formatDate(startDate))
	});

	$("#reset_1").click(function(){
		$("#token").val("");
		$("#datasets").html("");
		//$("#earliest_rec").val("");
                earliest_rec = "";
                latest_rec = "";
		// $("#latest_rec").val("");
		clearVarBox();
                $('input[name="var_type"]').prop("checked",false);
		infoDatabase();
	});

	$("#datasets").on("click change",function(){
	    updateSelectedDataset();
    });
});
</script>


{% endblock %}

{% block body %}

<script>
    // Initialize datepicker options (actual datepickers initialised when a dataset chosen)
    $(document).ready(function(){

      validateNumberInput = function(){
        if (this.value != this.value.replace(/[^0-9\.\-]/g, '')) {
           this.value = this.value.replace(/[^0-9\.\-]/g, '');
        }
      }

      // Instantiate datepickers with the right start and end times
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";

      var options_start={
            format: 'yyyy-mm-dd-00:00:00',
            container: container,
            todayHighlight: true,
            autoclose: true,
          };
       var options_end={
            format: 'yyyy-mm-dd-23:59:59',
            container: container,
            todayHighlight: true,
            autoclose: true,
          };

      $("#start_date").datepicker(options_start);
      $("#end_date").datepicker(options_end);
    })
</script>
<div class="row well col-sm-12">
    <h4>Log in<br/><small>A user token is needed in order to download data. Please contact the <a href="http://www.met.reading.ac.uk/observatorymain/Observatory_introduction.html">University of Reading</a> to arrange access.</small></h4>
    <div class="row">
        <div class="col-sm-2" align="center">User token</div>
        <div class="col-sm-4" align="center"> <input type="text" class="form-control" id="token"></div>
        <div class="col-sm-2" align="right"> <button id="submitToken" class="btn btn-primary">Log in</button></div>
        <div class="col-sm-4" align="left"><button id="submitPublic" class="btn btn-secondary" >View public datasets</button></div>
    </div>

    <div class="row">
            <div class="alert alert-danger" id="bad_token"></div>
            <div class="alert alert-success" id="good_token"></div>
    </div>
</div>
<div id="user_datasets" style="display:none;" class="row well col-sm-12">
    <h4>Dataset(s) available for this token</h4>
    <div class="row">
        <div class="col-sm-3">Choose dataset:</div>
        <div class="col-sm-7"><select id="datasets"></select></div>
        <div class="col-sm-2"></div>
        </div>
    <div class="row"><div id="dataset_error" class=""></div><span id="dataset_info"></span></div>
</div>

<div id="time_periods" style="display:none" class="row well col-sm-12">
    <h4>Time period to download<br /><small>Start and end dates reflect the available data</small></h4>
    <div class="row">
        <div class="col-sm-3">Time range (UTC):<br />(Inclusive)</div>
        <div class="col-sm-5">
            <label>From:<input type="text" class="form-control" name="start_date" id="start_date"></label>
            <div class="btn-group" role="group">
                <button id="setStartToYtd" class="btn btn-secondary">Yesterday</button>
                <button id="setStartToEarliest" class="btn btn-secondary">Earliest</button>
             </div>
        </div>
        <div class="col-sm-4">
            <label>To:<input type="text" class="form-control" name="end_date" id="end_date"></label>
            <button id="setEndToLatest" class="btn btn-secondary">Latest</button>
        </div>
    </div>
</div>

<div id="database" style="display:none" class="row well col-sm-12">
    <h4>Measurement variables to download</h4>
    <div id="variables" style="text-align:left;"></div>
</div>

<div id="download_options" style="display:none" class="row well col-sm-12">
    <h4>Download options</h4>
    <div class="row">
        <div class="col-sm-4">Label missing values with:</div>
        <div class="col-sm-4">
            <select id="missing">
                <option value="blank">Blank/Empty</option>
                <option value="9999.9">9999.9</option>
                <option value="x">x</option>
                <option value="NaN">NaN</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Download data as:</div>
        <div class="col-sm-4">
            <select id="output_format">
                <option value="html" selected>Web Page (HTML)</option>
                <option value="csv">Comma Separated Values (CSV) file</option>
                <option value="json">JavaScript Object Notation (JSON) file</option>
            </select>
        </div>
    </div>
    <div id="download_error" class="alert alert-danger"></div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-3">
                    <input type="button" class="btn btn-primary" id="generate_url" value="Generate permalink"></input>
                </div>
                <div class="col-sm-9">
                    Generate a web address from which the selected data can be downloaded later
                    (<strong>Note:</strong> this link includes your user token and should therefore not be shared).
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9"> <span name="url" id="direct_url"></span></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-3">
                    <input type="button" id="retrieve_data" class="btn btn-primary" value="Download data"></input>
                </div>
                <div class="col-sm-9">
                    <p>Begins data download (in a new window).</p>
                    <p><strong>By downloading data you agree to the following terms and conditions:</strong></p>
                    <p>The data is published for information and educational purposes only.</p>
                        <p>Whilst reasonable efforts have been made to publish reliable data, the University does not warrant the accuracy
                        of the information provided. To the fullest extent permitted by law, all representations, warranties and guarantees
                        regarding the data are excluded and the University does not accept any liability whatsoever for any loss, damage or
                        liability directly or indirectly caused or alleged to be caused by any reliance placed on the data. </p>

                        <p>The University reserves all rights in the data and the data should not be published in any article (or similar)
                            in any form or used for any commercial purpose without the prior written consent of the University.</p>

                </div>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock  %}
