{% extends "layout.html" %}

{% block title %}Token create{% endblock %}
{% block head %}
  <script type="text/javascript" src="../../bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../bower/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../../bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../bower/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../../bower/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../bower/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
{% block body %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<h1>Token</h1>
{% from "_formhelpers.html" import render_field %}
<form method="post">
    {{ form.csrf_token }}
    <dl>
	{{ render_field(form.token) }}
	{{ render_field(form.expiry_date) }}
	{{ render_field(form.max_request_time_hours) }}
	{{ render_field(form.max_request_rows) }}
	{{ render_field(form.max_request_files) }}
	{{ render_field(form.notes) }}
	{{ render_field(form.dataset_ids) }}
    </dl>
    <p><input type="submit" value="Submit">
</form>
{% endblock body %}
