{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block head %}
  <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css" />
{% endblock %}
k
{% block body %}
<h1>Login</h1>
{% from "_formhelpers.html" import render_field %}
<form method="post">
     {{ form.csrf_token }}
    <dl>
	{{ render_field(form.name) }}
	{{ render_field(form.password) }}
    </dl>
    <p><input type="submit" value="Login">
</form>
{% endblock body %}
