{% extends "layout.html" %}

{% block title %}Tokens{% endblock %}

{% block body %}
<h1>Tokens</h1>
<p>A user token is like an account and is used to allow a person to extract data. A user is given a token using the &quot;create token&quot; page, and is assigned one or more allowed datasets therein. A user's token must be sent to them manually so that personal data is not stored here. The user should be reminded not to share this token with anybody, or it will be rescinded. </p>
<table id="user_tokens" class="table">
    <thead>
	<tr>
	    <th>ID</th>
	    <th>Token</th>
	    <th>Expiry</th>
	    <th>Max Req. Time (hours)</th>
	    <th>Max Req. Rows</th>
	    <th>Max Req. Files</th>
	    <th>Notes</th>
	    <th>Datasets</th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
	{% for token in user_tokens %}
	<tr>
	    <td>{{ token.id }}</td>
	    <td>{{ token.token }}</td>
	    <td>{{ token.expiry_date }}</td>
	    <td>{{ token.max_request_time_hours }}</td>
	    <td>{{ token.max_request_rows }}</td>
	    <td>{{ token.max_request_files }}</td>
	    <td>{{ token.notes }}</td>
	    <td>{% for dataset in token.datasets %}{{ dataset.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
	    <td>
		<form action="{{ url_for('delete_token', token_id=token.id) }}" method="POST" onsubmit="return confirm('Confirm delete?');">
		    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    <input type="submit" value="Delete token"/>
		</form>
	    </td>
	</tr>
	{% endfor %}
	</tr>
    </tbody>
</table>

<form action="{{ url_for('create_token') }}" method="GET">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Create token" />
</form>
{% endblock body %}
